#roomInfo {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#playerCodes {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

#playerCodes p {
  background: rgba(0,0,0,0.5);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
